.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 auto;
    height: auto;   
}

.intro-paragraph{
    width: auto;
    position: absolute;
    right: 745px;
    /* top: 215px; */
    font-size: 28px;
    margin: 0 20px;
}

.intro-paragraph h1{
    line-height: 88px;
    letter-spacing: 11px;
    font-size: 75px;
}

.intro-paragraph h1 span{
    background-color: black;
    color: white;
}

.intro-paragraph h1 span:hover{
    background-color: yellow;
    color: black;
    opacity: 0.5;
}

.scrolling{
    background-image: url("https://bit.ly/3fsJ9S8");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 25%;
    z-index: -1;
    /* display: block; */
    width: 100%;
    max-width: none;
    /* opacity: 0.8; */
}

/* .intro img{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 35%;
    z-index: -1;
    display: block;
    width: 100%;
    max-width: none;
    opacity: 0.8;
} */