.resume{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    margin: 0 auto;
    flex-direction: column;
}

.section1{
    display: flex;
    margin-bottom: 30px;
    /* width: 100%; */
    height: auto;
    margin-top: 70px;
    position: relative;
    top: 75px;
}

.section2{
    margin-top: 74px;
}

.section2 .skills{
    display: flex;
    flex-direction: column;
}

.skills-icon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.skills-icon img{
    margin: 0 20px 25px 35px;
    padding: 0 17px;
    border: 3px solid gray;
    width: 6%;
    background-color: white;
    position: relative;
    left: 20px;
    border-radius: 6px;

}
/* #image{
    position: relative;
  width: 50%;
  max-width: 300px;
}
.image-overlay {
    display: block;
    width: 100%;
    height: auto;
  } */
  
  /* The overlay effect - lays on top of the container and over the image */
  /* .overlay-text {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); Black see-through */
    /* color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  } */
  
  /* When you mouse over the container, fade in the overlay title */
  /* #image:hover .overlay-text {
    opacity: 1;
  } */