.contact{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;
    margin: 0 auto;
}

.contact-text{
    /* background-image: url("/brownphone.jpg");
    background-size: 558px 627px;
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    position: relative; */
    /* z-index: -1; */
    /* left: 0%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 62px;
    line-height: 100px; */
}
.contact form{
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 50%;
    position: relative;
    right: 77px;
}

.name-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    border-bottom: 2px solid gray;
}

#firstName{
    border: none;
    background: none;
    width: 100%;
}

#lastName{
    border: none;
    background: none;
    width: 100%;
}

#companyName{
    background: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

#inputEmail{
    background: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

#subject{
    background: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

#message{
    background: none;
    border: 2px solid gray;
    margin-bottom: 20px;
}

.social-container{
    position: relative;
    right: 100px;
}

.button{
    width: 45%;
    margin: 10px 0px;
    background: black;
    border: none;
    color: white;
    padding: 15px 0;
}

.button:hover{
    background-color: white;
    color: black
}

.images{
    display: flex;
    margin-left: 30px;
    margin: 10px 0;
    width: 40%;
    position: relative !important;
}

.contact .bottom-img{
    /* width: 40%;
    height: 200px; */
    margin-left: 60px;
    /* position: relative; */
    max-width: 100%;
    height: auto;
    display: flex;
    vertical-align: middle;
    width: 70%;
}

.top-img{
    /* height: 153px; */
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 60.66%;
    border: 0;
}